<%
	var page = locals.data.page;
%>
<!DOCTYPE html>
<html>
<head>
	<%- include('include/header'); %>
	<title><%= page.title %></title>
</head>
<body>
	<div class="body-wrapper">
		<%- include('include/secondary'); %>
		<div class="primary">
			<div class="main-content">
			<section class="article-text">
				<%- page.content %>
			</section>
			</div>
			<%- include('include/footer') %>
		</div>
	</div>
	<%- include('include/script'); %>
</body>
</html>