<%
	var archives = locals.data.archives;
%>
<!DOCTYPE html>
<html>
<head>
	<%- include('include/header'); %>
	<title>Archive - <%= locals.config.site.title %></title>
</head>
<body>
	<div class="body-wrapper">
		<%- include('include/secondary'); %>
		<div class="primary">
			<div class="main-content">
				<div class="archive-wrapper">
				<% for (var year in archives) { -%>
					<% var articles = archives[year]; %>
					<section class="archive-section">
						<h2 class="archive-year"><%= year %></h2>
						<ul class="archive-article-list">
						<% for (var article of articles) { -%>
							<li class="archive-article-item">
								<a href="/article/<%= article.filename %>.html"><%= article.title %></a>
								<span class="publish-date"><%= (new Date(article.createdTime)).toLocaleDateString() %></span>
							</li>
						<% } -%>
						</ul>
						<span class="circle"></span>
					</section>
				<% } -%>
				</div>
			</div>
			<%- include('include/footer'); %>
		</div>
	</div>
	<%- include('include/script'); %>
</body>
</html>