<%
	var article = locals.data.article;
	var tags = article.tags;
	var content = article.content;
	var previous = article.previous;
	var next = article.next;
%>
<!DOCTYPE html>
<html>
<head>
	<%- include('include/header'); %>
	<title><%= article.title %></title>
</head>
<body>
	<div class="body-wrapper">
		<%- include('include/secondary'); %>
		<div class="primary">
			<div class="main-content">
				<article class="article">
					<header class="article-header">
						<h1 class="article-title"><%= article.title %></h1>
						<div class="article-meta">
							<span class="meta publish-date"><i class="fa fa-calendar"></i><%= article.createdTime %></span>
							<span class="meta tags">
								<i class="fa fa-tags"></i>
								<% for (var i = 0; i < tags.length; i++) { -%>
									<a href="/tag/<%= tags[i] %>"><%= tags[i] %></a>
								<% } -%>
							</span>
						</div>
					</header>
					<section class="article-main">
						<%- content %>
					</section>
					<footer class="article-nav">
					<% if (previous) { -%>
						<a href="/article/<%= previous.filename %>.html" title="上一篇" class="prev-article"></a>
					<% } %>
					<% if (next) { -%>
						<a href="/article/<%= next.filename %>.html" title="下一篇" class="next-article"></a>
					<% } %>						
					</footer>
				</article>
			</div>
			<%- include('include/footer') %>
		</div>
	</div>
	<%- include('include/script'); %>
</body>
</html>