<%
	var articles = locals.data.articles;
%>
<!DOCTYPE html>
<html>
<head>
	<%- include('include/header'); %>
	<title>Index - <%= locals.config.site.title %></title>
</head>
<body>
	<div class="body-wrapper">
		<%- include('include/secondary'); %>
		<!-- primary start -->
		<div class="primary">
			<div class="main-content">
				<ul class="article-list">
				<% for (var i = 0; i < articles.length; i++) { -%>
					<% var article = articles[i]; %>
					<li class="article-item">
						<a href="/article/<%= article.filename %>.html"><%= article.title %></a>
						<span class="publish-date"><%= article.createdTime %></span>
					</li>
				<% } -%>
				</ul>
			</div>
			<%- include('include/pagination'); %>
			<%- include('include/footer'); %>
		</div>
		<!-- primary end -->
	</div>
	<%- include('include/script'); %>
</body>
</html>