<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keyword" content="<%= locals.site.keyword %>">
<meta name="description" content="<%= locals.site.description %>">
<meta name="author" content="<%= locals.site.author %>">
<title><%= locals.page.pageTitle %></title>
<link rel="stylesheet" href="http://fonts.googlefonts.net/css?family=Playball&text=<%= locals.site.title %>">
<link rel="stylesheet" href="/theme/<%= locals.site.theme %>/assets/css/normalize.css">
<link rel="stylesheet" href="/theme/<%= locals.site.theme %>/assets/css/font-awesome-4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="/theme/<%= locals.site.theme %>/assets/css/site.css">
<link rel="stylesheet" href="/theme/<%= locals.site.theme %>/assets/css/railscasts.css">